<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    </style>
</head>
<body style="background-color: rgb(248,248,248);">
    <div style="width: 600px;height: 220px;margin: 0 auto;background-color: white;border-left: 2px solid rgb(231, 230, 230);border-right: 2px solid rgb(231, 230, 230);border-bottom: 2px solid rgb(231, 230, 230);">
        <p style="height: 50px;background-color: rgb(252,252,252);font-size: 19px;line-height: 50px;padding-left: 20px;border-top: 2px solid rgb(231, 230, 230);border-bottom: 2px solid rgb(231, 230, 230);">注册验证</p>
        <p style="padding-left: 20px;">您好 <strong>{0}！</strong></p>
        <p style="padding-left: 20px;">欢迎注册kkc技术社区，请将验证码填写到注册页面。</p>

        <p style="padding-left: 20px;">验证码：<strong>{1}</strong></p>
        <p style="margin-right: 20px;text-align: right;color: indianred">该注册码5分钟内有效，请及时填写</p>
    </div>
</body>
</html>