<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kerco.kkc.member.mapper.UserMapper">

    <update id="updateUserById" parameterType="com.kerco.kkc.member.entity.User" >
        update member_user set username = #{username},sex = #{sex},
                               status = #{status}, avatar = #{avatar},
                               update_time = #{updateTime}
        where id = #{id};
    </update>

    <update id="deleteUserById" >
        update member_user set status = 2
            where id = #{id};
    </update>

    <select id="getUserByKey" resultType="com.kerco.kkc.member.entity.User">
        select id,nickname,username,password,email,sex,avatar,summary,status,last_login_time,create_time,update_time
        from member_user where username like #{key};
    </select>

    <insert id="createNewUser" parameterType="com.kerco.kkc.member.entity.User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into member_user(nickname,username,password,email,create_time,update_time)
        values(#{username},#{username},#{password},#{email},#{createTime},#{updateTime});
    </insert>

    <select id="createBeforeCheck" resultType="int">
        select count(1) from member_user where username = #{username} or email = #{email}
    </select>

    <select id="getUserByUsernameAndPassword" resultType="com.kerco.kkc.member.entity.User">
        select id,nickname,username,password,email,sex,avatar,summary,status,last_login_time,create_time,update_time
        from member_user where username = #{username} and password = #{password};
    </select>

    <select id="getUserListByIds" resultType="com.kerco.kkc.common.entity.UserKeyTo">
        select id,username,avatar from member_user
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getUserSimpleShowById" resultType="com.kerco.kkc.member.entity.vo.UserSimpleShowVo">
        select id,username,avatar,summary,sex,create_time from member_user where id = #{id} and status = 0;
    </select>

    <select id="getFollowerCountAndFollowedCountById" resultType="com.kerco.kkc.member.entity.qo.CountQo">
        select count(1) as followed_count,-1 follower_count from member_follow where followed_id = #{id} and status = 0
        union
        select -1 followed_count,count(1) as follower_count from member_follow where follower_id = #{id} and status = 0;
    </select>

    <select id="getUserFollowList" resultType="com.kerco.kkc.member.entity.vo.UserInfoVo">
        select id,username,avatar from member_user
        where id in (select follower_id from member_follow where followed_id = #{id} and status = 0);
    </select>

    <select id="getUserFollowedList" resultType="com.kerco.kkc.member.entity.vo.UserInfoVo">
        select id,username,avatar from member_user
        where id in (select followed_id from member_follow where follower_id = #{id} and status = 0);
    </select>

    <select id="getUserDetailById" resultType="com.kerco.kkc.member.entity.vo.UserDetailVo">
        select id,username,avatar,summary,sex,email from member_user where id = #{id} and status = 0;
    </select>

    <update id="updateUserInfoByUser">
        update member_user set avatar = #{avatar},sex = #{sex},summary = #{summary},update_time = #{updateTime}
        where id = #{id};
    </update>

    <select id="getRole" resultType="com.kerco.kkc.member.entity.UserRole">
        select id,user_id,role_id from member_user_role
        where role_id = (select id from member_role where name = 'admin') and user_id = #{id};
    </select>
</mapper>
