<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kerco.kkc.community.mapper.ArticleMapper">

    <update id="updateArticleSpecialById" parameterType="com.kerco.kkc.community.entity.Article">
        update community_article set official = #{official},top = #{top},
                                     essence = #{essence},status = #{status},examination = #{examination},update_time = #{updateTime}
        where id = #{id};
    </update>

    <update id="deleteArticleById" >
        update community_article set status = 2,update_time = #{updateTime}
        where id = #{id};
    </update>
</mapper>
